<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1>the goods page</h1>
    <form th:action="@{/goods/doFindGoods}" method="get">
        <input type="text" name="name">
        <input type="submit" value="查询">
        <input type="button" onclick="doLoadGoodsAddUI()" value="添加商品">
    </form>

    <table>
        <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>remark</th>
            <th>createdTime</th>
            <th>operation</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="g:${list}">
            <td th:text="${g.id}"></td>
            <td th:text="${g.name}"></td>
            <td th:text="${g.remark}"></td>
            <td th:text="${#dates.format(g.createdTime,'yyyy/MM/dd HH:mm')}"></td>
            <td><button th:onclick="doDeleteById([[${g.id}]])">delete</button></td>
            <td><button th:onclick="doFindById([[${g.id}]])">update</button></td>
        </tr>


        </tbody>
    </table>


</div>
<script th:inline="javascript">
    var rootUrl="http://localhost/"
    function doLoadGoodsAddUI(){
        location.href=`${rootUrl}/goods/doGoodsAddUI`;
    }
    function doDeleteById(id){
        //Get 请求
        location.href=`${rootUrl}/goods/doDeleteById?id=${id}`;
    }
    function doFindById(id){
        location.href=`${rootUrl}/goods/doFindById/${id}`;
    }
</script>
</body>
</html>