<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        ul>li {list-style-type: none}
    </style>
</head>
<body>
<div>
    <h1>The Goods Add Page</h1>
    <form th:action="@{/goods/doUpdateGoods}" method="post">
        <ul>
            <li><input type="hidden" name="id" th:value="${goods.id}"></li>
            <li>name</li>
            <li><input type="text" name="name" th:value="${goods.name}"></li>
            <li>remark</li>
            <li><textarea rows="5" cols="50" name="remark" th:text="${goods.remark}"></textarea></li>
            <li><input type="submit" value="Update Goods"></li>
        </ul>
    </form>
</div>

</body>
</html>